
body{
margin:0;
font-family:Segoe UI;
background:#f3f4f6;
}

.login-body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-wrapper{
display:flex;
width:850px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.login-left{
background:#003811;
color:white;
padding:40px;
width:40%;
}

.login-right{
background:white;
padding:40px;
width:60%;
}

.sidebar{
position:fixed;
width:260px;
height:100vh;
background:#003811;
color:white;
padding:20px;
}

.brand{
color:#D4AF37;
font-weight:bold;
margin-bottom:20px;
}

.profile{
background:#052e16;
padding:15px;
margin-bottom:20px;
}

.sidebar button{
width:100%;
padding:12px;
margin:6px 0;
background:#006400;
border:none;
color:white;
cursor:pointer;
}

.main{
margin-left:260px;
padding:30px;
}

.card{
background:white;
padding:25px;
border-radius:8px;
max-width:800px;
}

input,select{
width:100%;
padding:10px;
margin:8px 0;
}

.btn-main{
background:#006400;
color:white;
padding:12px;
border:none;
cursor:pointer;
}

.row{
padding:8px;
border-bottom:1px solid #eee;
}
