
body{
font-family:Arial;
background:#f4f4f4;
}

.login-box{
width:300px;
margin:auto;
margin-top:120px;
background:white;
padding:20px;
}

.header{
background:#003811;
color:white;
padding:15px;
}

.menu{
padding:10px;
}

.menu button{
margin-right:10px;
}

#content{
background:white;
margin:20px;
padding:20px;
}

input,select{
display:block;
margin:10px 0;
padding:8px;
}

button{
padding:10px;
background:#006400;
color:white;
border:none;
cursor:pointer;
}

.notif{
padding:10px;
border-bottom:1px solid #ddd;
}
