body{
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

input{
  padding:10px;
  width:220px;
}

button{
  padding:15px 30px;
  background:#0a7f5a;
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}
