
:root{
 --dar-green:#0B6B3A;
 --dar-gold:#C9A227;
}

body{
 font-family:Arial;
 background:#f4f6f5;
}

.card{
 background:white;
 padding:25px;
 border-radius:12px;
 border-top:6px solid var(--dar-gold);
 max-width:420px;
 margin:auto;
 margin-top:10%;
 box-shadow:0 5px 20px rgba(0,0,0,.1);
}

button{
 background:var(--dar-green);
 color:white;
 border:none;
 padding:12px;
 width:100%;
 border-radius:8px;
 font-size:15px;
 margin-top:10px;
 cursor:pointer;
}

input{
 width:100%;
 padding:10px;
 margin-top:10px;
 border:1px solid #ccc;
 border-radius:6px;
}
